.c-drones-list {
  margin: 0 auto;
  max-width: 740px;

  &__table {
    border-collapse: collapse;
    width: 100%;
    td {
      padding: 5px;
    }
    tr th,
    tr td:nth-child(2) {
      text-align: center;
    }
  }

  &-item--stopped {
    td {
      background-color: #95ffac;
    }
  }
}
